body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border: solid 1px #ddd;
    margin-top: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
}

input[type="text"],
button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.circuit-diagram {
    width: 100%;
    height: auto;
    background-color: white;
    margin: 20px 0px;
    padding: 0px;
    text-align: center;
}

.circuit-diagram img {
    max-width: 100%;
    height: auto;
}

.graph-placeholder {
    background-image: url('mountains-placeholder.png');
    /* Substitua pelo caminho da sua imagem */
    height: 200px;
    /* Ajuste conforme a necessidade */
    background-repeat: no-repeat;
    background-size: cover;
}


.circuit-selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Agora cria duas colunas */
    grid-gap: 20px;
    /* Espaçamento entre as opções de circuito */
    margin-bottom: 20px;
}

.circuit-option {
    text-align: center;
    /* Centraliza o conteúdo de cada opção de circuito */
}

.circuit-option img {
    width: 60%;
    /* Define a largura da imagem para preencher a célula */
    height: auto;
    /* Mantém a proporção da imagem */
    margin-bottom: 10px;
    /* Espaçamento entre a imagem e a caixa de seleção */
}