@font-face {
    font-family: BrandonGrotesqueWeb-Bold;
    src: url(/fonts/Brandon/38F0DB_0_0.eot);
    src: url(/fonts/Brandon/38F0DB_0_0.eot?#iefix) format("embedded-opentype"), url(/fonts/Brandon/38F0DB_0_0.woff2) format("woff2"), url(/fonts/Brandon/38F0DB_0_0.woff) format("woff"), url(/fonts/Brandon/38F0DB_0_0.ttf) format("truetype")
}

@font-face {
    font-family: BrandonGrotesqueWeb-Medium;
    src: url(/fonts/Brandon/38F0DB_1_0.eot);
    src: url(/fonts/Brandon/38F0DB_1_0.eot?#iefix) format("embedded-opentype"), url(/fonts/Brandon/38F0DB_1_0.woff2) format("woff2"), url(/fonts/Brandon/38F0DB_1_0.woff) format("woff"), url(/fonts/Brandon/38F0DB_1_0.ttf) format("truetype")
}

@font-face {
    font-family: BrandonGrotesqueWeb-Regular;
    src: url(/fonts/Brandon/38F14C_0_0.eot);
    src: url(/fonts/Brandon/38F14C_0_0.eot?#iefix) format("embedded-opentype"), url(/fonts/Brandon/38F14C_0_0.woff2) format("woff2"), url(/fonts/Brandon/38F14C_0_0.woff) format("woff"), url(/fonts/Brandon/38F14C_0_0.ttf) format("truetype")
}

.standalone-project-main.vcentered .content-item:not(.has-image):not(.has-spacer):first-of-type {
    padding-top: 80px
}

.standalone-project-main.center-left .content-item .error-container,
.standalone-project-main.left-left .content-item .error-container,
.standalone-project-main.right-left .content-item .error-container {
    left: 100px;
    right: auto
}

@media screen and (max-width:799px) {

    .standalone-project-main.center-left .content-item .error-container,
    .standalone-project-main.left-left .content-item .error-container,
    .standalone-project-main.right-left .content-item .error-container {
        left: 0
    }
}

.modal-container.mobile .standalone-project-main.center-left .content-item .error-container,
.modal-container.mobile .standalone-project-main.left-left .content-item .error-container,
.modal-container.mobile .standalone-project-main.right-left .content-item .error-container {
    left: auto;
    right: auto
}

.modal-container.mobile .vcentered.center-center .modal-main,
.modal-container.mobile .vcentered.center-left .modal-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 580px
}

.content-item-wrapper,
.modal-main {
    position: relative
}

.e-target-dropzone.center-center .content-item-wrapper,
.e-target-dropzone.center-left .content-item-wrapper,
.standalone-project-main.center-center .modal-main,
.standalone-project-main.center-left .modal-main {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: auto;
    margin-right: auto
}

@media screen and (max-width:799px) {

    .e-target-dropzone.center-center .content-item-wrapper,
    .e-target-dropzone.center-left .content-item-wrapper,
    .standalone-project-main.center-center .modal-main,
    .standalone-project-main.center-left .modal-main {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }
}

.e-target-dropzone.left-left .content-item-wrapper,
.e-target-dropzone.right-left .content-item-wrapper {
    height: 100%
}

.standalone-project-main.left-left .modal-main,
.standalone-project-main.right-left .modal-main {
    min-height: 100vh
}

.view-preview .standalone-project-main.left-left .modal-main,
.view-preview .standalone-project-main.right-left .modal-main {
    min-height: calc(100vh - 60px)
}

.modal-container.mobile .standalone-project-main.right-left .modal-main,
.modal-container.mobile .view-preview .standalone-project-main.left-left .modal-main {
    min-height: 580px
}

.e-target-dropzone.center-center.vcentered .content-item-wrapper,
.e-target-dropzone.center-left.vcentered .content-item-wrapper,
.standalone-project-main.vcentered.center-center .modal-main,
.standalone-project-main.vcentered.center-left .modal-main {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 80px;
    margin-top: 80px
}

.e-target-dropzone.center-center.vcentered .content-item-wrapper .content-item:first-of-type.c-img-container.fullwidth img,
.e-target-dropzone.center-left.vcentered .content-item-wrapper .content-item:first-of-type.c-img-container.fullwidth img,
.standalone-project-main.vcentered.center-center .modal-main .content-item:first-of-type.c-img-container.fullwidth img,
.standalone-project-main.vcentered.center-left .modal-main .content-item:first-of-type.c-img-container.fullwidth img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.e-target-dropzone.center-center.vcentered .content-item-wrapper .content-item:last-of-type.c-img-container.fullwidth img,
.e-target-dropzone.center-left.vcentered .content-item-wrapper .content-item:last-of-type.c-img-container.fullwidth img,
.standalone-project-main.vcentered.center-center .modal-main .content-item:last-of-type.c-img-container.fullwidth img,
.standalone-project-main.vcentered.center-left .modal-main .content-item:last-of-type.c-img-container.fullwidth img {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

@media screen and (max-width:799px) {

    .e-target-dropzone.center-center.vcentered .content-item-wrapper,
    .e-target-dropzone.center-left.vcentered .content-item-wrapper,
    .standalone-project-main.vcentered.center-center .modal-main,
    .standalone-project-main.vcentered.center-left .modal-main {
        border-radius: 0;
        margin-bottom: 0;
        margin-top: 0
    }

    body:not(.embedded) .e-target-dropzone.center-center.vcentered .content-item-wrapper,
    body:not(.embedded) .e-target-dropzone.center-left.vcentered .content-item-wrapper,
    body:not(.embedded) .standalone-project-main.vcentered.center-center .modal-main,
    body:not(.embedded) .standalone-project-main.vcentered.center-left .modal-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh
    }
}

.e-target-dropzone.left-left .content-item-wrapper,
.standalone-project-main.left-left .modal-main {
    margin-right: auto
}

.e-target-dropzone.right-left .content-item-wrapper,
.standalone-project-main.right-left .modal-main {
    margin-left: auto
}

.modal-container.mobile .content-item.has-image:last-of-type,
.modal-container.mobile .content-item.has-spacer:last-of-type {
    padding-bottom: 40px !important
}

.content-item {
    box-shadow: inset 0 0 0 0 #000;
    line-height: 1.3;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 5px;
    padding-top: 40px;
    position: relative;
    width: 800px
}

@media screen and (max-width:978px) {
    .content-item {
        padding-left: 20px;
        padding-right: 20px
    }
}

.content-item.has-question {
    padding-bottom: 0
}

.content-item.custom-styled:after {
    background-color: #0369a1;
    border-radius: 5px;
    bottom: 0;
    color: #fff;
    content: "custom design";
    opacity: 0;
    padding: 1px 5px;
    position: absolute;
    right: 0;
    transition: none;
    z-index: 2
}

.content-item.has-spacer.target-component.custom-styled:after {
    right: 30px
}

.content-item .boldfont {
    font-weight: 700 !important
}

.content-item:not(.has-image):not(.has-spacer):first-of-type {
    padding-top: 80px
}

@media screen and (max-width:639px) {
    .content-item:not(.has-image):not(.has-spacer):first-of-type {
        padding-top: 40px
    }
}

.content-item:not(.has-image):not(.has-spacer):not(.badge-container):last-of-type {
    padding-bottom: 80px !important
}

@media screen and (max-width:479px) {

    .content-item.has-image:last-of-type,
    .content-item.has-spacer:last-of-type {
        padding-bottom: 40px !important
    }
}

.content-item.c-slider-container,
.content-item.has-slider {
    padding-bottom: 15px
}

.content-item.has-autogeneratedtext.hidden-for-participants:before,
.content-item.has-calculator.hidden-for-participants:before,
.content-item.has-captcha.hidden-for-participants:before,
.content-item.has-couponcode.hidden-for-participants:before,
.content-item.has-timer.hidden-for-participants:before {
    background-color: #3b57a1;
    border-radius: 5px;
    color: #fff;
    content: "hidden for users";
    left: 0;
    margin: 0 auto;
    padding: 1px 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    transition: none;
    width: 165px
}

.content-item.has-spacer+.content-item {
    padding-top: 0
}

.content-item .wrapper {
    margin: 0 auto;
    max-width: 600px
}

.content-item .wrapper.align-left,
.content-item .wrapper.align-left p {
    text-align: left !important
}

@media screen and (max-width:799px) {
    .content-item .wrapper.align-left {
        margin-left: 0 !important
    }
}

@media screen and (min-width:980px) and (max-width:1599px) {
    .content-item .wrapper.align-left {
        max-width: calc(100% - 160px)
    }
}

.content-item .wrapper.align-right,
.content-item .wrapper.align-right p {
    text-align: right !important
}

@media screen and (max-width:799px) {
    .content-item .wrapper.align-right {
        margin-right: 0 !important
    }
}

@media screen and (min-width:980px) and (max-width:1599px) {
    .content-item .wrapper.align-right {
        max-width: calc(100% - 160px)
    }
}

.content-item .wrapper.align-center,
.content-item .wrapper.align-center p {
    text-align: center !important
}

.content-item.nobg {
    background-color: transparent !important
}

.content-item.nopadding {
    padding: 0 !important
}

.content-item .error-container {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    width: 360px;
    z-index: 999
}

.content-item .error-wrapper {
    background-color: #fff;
    border: 2px solid #d33147;
    border-radius: 6px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .25);
    left: 0;
    margin: auto;
    opacity: 0;
    padding: 20px 40px 20px 65px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: left;
    top: 6px;
    transition: opacity .1s ease-in;
    width: 100%
}

.content-item .error-wrapper:before {
    background: #fff;
    border-left: 2px solid #d33147;
    border-top: 2px solid #d33147;
    box-sizing: content-box;
    content: "";
    height: 10px;
    left: 26px;
    position: absolute;
    top: -7px;
    transform: rotate(45deg);
    width: 10px
}

.content-item .error-wrapper span.error-txt {
    border-radius: 3px;
    color: #d33147;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px !important;
    line-height: normal;
    opacity: 1 !important;
    padding: 0 5px;
    pointer-events: none;
    position: static
}

.content-item .info-icon {
    background-color: #fff;
    border: 2px solid #d33147;
    border-radius: 50%;
    height: 22px;
    left: 21px;
    position: absolute;
    top: calc(50% - 12px);
    width: 22px
}

.content-item .info-icon:before {
    height: 6px;
    top: 8px
}

.content-item .info-icon:after,
.content-item .info-icon:before {
    background-color: #d33147;
    content: "";
    left: 8px;
    position: absolute;
    width: 2px
}

.content-item .info-icon:after {
    height: 2px;
    top: 4px
}

.content-item.error .error-container.error .error-wrapper {
    opacity: 1
}

.content-item.error .form-item .error-container.error .error-wrapper {
    opacity: 0
}

.content-item.error .form-item.error .error-container.error .error-wrapper {
    opacity: 1
}

.content-item .form-item.error .el-checkbox__input .el-checkbox__inner {
    border: 2px solid #d33147 !important
}

.content-item .form-item.error input::-moz-placeholder {
    color: #d33147 !important;
    opacity: 1
}

.content-item .form-item.error input:-ms-input-placeholder {
    color: #d33147 !important;
    opacity: 1
}

.content-item .form-item.error input::placeholder {
    color: #d33147 !important;
    opacity: 1
}

.content-item.c-date-time-picker-container.error input::-moz-placeholder,
.content-item.c-dropdown-container.error input::-moz-placeholder,
.content-item.c-free-txt-answer-container.error input::-moz-placeholder,
.content-item.c-question-container.error input::-moz-placeholder,
.content-item.c-question-image-container.error input::-moz-placeholder,
.content-item.c-rating-container.error input::-moz-placeholder,
.content-item.c-upload-field-container.error input::-moz-placeholder {
    color: #d33147 !important;
    opacity: 1
}

.content-item.c-date-time-picker-container.error input:-ms-input-placeholder,
.content-item.c-dropdown-container.error input:-ms-input-placeholder,
.content-item.c-free-txt-answer-container.error input:-ms-input-placeholder,
.content-item.c-question-container.error input:-ms-input-placeholder,
.content-item.c-question-image-container.error input:-ms-input-placeholder,
.content-item.c-rating-container.error input:-ms-input-placeholder,
.content-item.c-upload-field-container.error input:-ms-input-placeholder {
    color: #d33147 !important;
    opacity: 1
}

.content-item.c-date-time-picker-container.error input::placeholder,
.content-item.c-dropdown-container.error input::placeholder,
.content-item.c-free-txt-answer-container.error input::placeholder,
.content-item.c-question-container.error input::placeholder,
.content-item.c-question-image-container.error input::placeholder,
.content-item.c-rating-container.error input::placeholder,
.content-item.c-upload-field-container.error input::placeholder {
    color: #d33147 !important;
    opacity: 1
}

.content-item.c-date-time-picker-container.error .rating-item,
.content-item.c-dropdown-container.error .rating-item,
.content-item.c-free-txt-answer-container.error .rating-item,
.content-item.c-question-container.error .rating-item,
.content-item.c-question-image-container.error .rating-item,
.content-item.c-rating-container.error .rating-item,
.content-item.c-upload-field-container.error .rating-item {
    fill: #d33147 !important
}

.content-item.c-date-time-picker-container.error .c-answer .answer-radio,
.content-item.c-date-time-picker-container.error .c-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-date-time-picker-container.error .c-image-answer .answer-radio,
.content-item.c-date-time-picker-container.error .c-image-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-dropdown-container.error .c-answer .answer-radio,
.content-item.c-dropdown-container.error .c-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-dropdown-container.error .c-image-answer .answer-radio,
.content-item.c-dropdown-container.error .c-image-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-free-txt-answer-container.error .c-answer .answer-radio,
.content-item.c-free-txt-answer-container.error .c-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-free-txt-answer-container.error .c-image-answer .answer-radio,
.content-item.c-free-txt-answer-container.error .c-image-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-question-container.error .c-answer .answer-radio,
.content-item.c-question-container.error .c-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-question-container.error .c-image-answer .answer-radio,
.content-item.c-question-container.error .c-image-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-question-image-container.error .c-answer .answer-radio,
.content-item.c-question-image-container.error .c-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-question-image-container.error .c-image-answer .answer-radio,
.content-item.c-question-image-container.error .c-image-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-rating-container.error .c-answer .answer-radio,
.content-item.c-rating-container.error .c-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-rating-container.error .c-image-answer .answer-radio,
.content-item.c-rating-container.error .c-image-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-upload-field-container.error .c-answer .answer-radio,
.content-item.c-upload-field-container.error .c-answer.validation-failed:not(.active) .answer-radio,
.content-item.c-upload-field-container.error .c-image-answer .answer-radio,
.content-item.c-upload-field-container.error .c-image-answer.validation-failed:not(.active) .answer-radio {
    background-color: #fff !important;
    border: 2px solid #d33147 !important;
    opacity: 1;
    transition: background-color .5s linear
}

.content-item.c-date-time-picker-container.error .c-answer .answer-radio:after,
.content-item.c-date-time-picker-container.error .c-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-date-time-picker-container.error .c-image-answer .answer-radio:after,
.content-item.c-date-time-picker-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-dropdown-container.error .c-answer .answer-radio:after,
.content-item.c-dropdown-container.error .c-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-dropdown-container.error .c-image-answer .answer-radio:after,
.content-item.c-dropdown-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-free-txt-answer-container.error .c-answer .answer-radio:after,
.content-item.c-free-txt-answer-container.error .c-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-free-txt-answer-container.error .c-image-answer .answer-radio:after,
.content-item.c-free-txt-answer-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-question-container.error .c-answer .answer-radio:after,
.content-item.c-question-container.error .c-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-question-container.error .c-image-answer .answer-radio:after,
.content-item.c-question-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-question-image-container.error .c-answer .answer-radio:after,
.content-item.c-question-image-container.error .c-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-question-image-container.error .c-image-answer .answer-radio:after,
.content-item.c-question-image-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-rating-container.error .c-answer .answer-radio:after,
.content-item.c-rating-container.error .c-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-rating-container.error .c-image-answer .answer-radio:after,
.content-item.c-rating-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-upload-field-container.error .c-answer .answer-radio:after,
.content-item.c-upload-field-container.error .c-answer.validation-failed:not(.active) .answer-radio:after,
.content-item.c-upload-field-container.error .c-image-answer .answer-radio:after,
.content-item.c-upload-field-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:after {
    background-color: #d33147;
    border: none;
    content: "";
    height: 6px;
    left: 12px;
    position: absolute;
    top: 8px;
    transform: none;
    width: 2px
}

.content-item.c-date-time-picker-container.error .c-answer .answer-radio:before,
.content-item.c-date-time-picker-container.error .c-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-date-time-picker-container.error .c-image-answer .answer-radio:before,
.content-item.c-date-time-picker-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-dropdown-container.error .c-answer .answer-radio:before,
.content-item.c-dropdown-container.error .c-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-dropdown-container.error .c-image-answer .answer-radio:before,
.content-item.c-dropdown-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-free-txt-answer-container.error .c-answer .answer-radio:before,
.content-item.c-free-txt-answer-container.error .c-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-free-txt-answer-container.error .c-image-answer .answer-radio:before,
.content-item.c-free-txt-answer-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-question-container.error .c-answer .answer-radio:before,
.content-item.c-question-container.error .c-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-question-container.error .c-image-answer .answer-radio:before,
.content-item.c-question-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-question-image-container.error .c-answer .answer-radio:before,
.content-item.c-question-image-container.error .c-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-question-image-container.error .c-image-answer .answer-radio:before,
.content-item.c-question-image-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-rating-container.error .c-answer .answer-radio:before,
.content-item.c-rating-container.error .c-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-rating-container.error .c-image-answer .answer-radio:before,
.content-item.c-rating-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-upload-field-container.error .c-answer .answer-radio:before,
.content-item.c-upload-field-container.error .c-answer.validation-failed:not(.active) .answer-radio:before,
.content-item.c-upload-field-container.error .c-image-answer .answer-radio:before,
.content-item.c-upload-field-container.error .c-image-answer.validation-failed:not(.active) .answer-radio:before {
    background-color: #d33147;
    content: "";
    height: 2px;
    left: 12px;
    position: absolute;
    top: 17px;
    width: 2px
}

.content-item .c-answer.validation-failed:not(.active) .answer-radio,
.content-item .c-image-answer.validation-failed:not(.active) .answer-radio {
    background-color: #fff !important;
    border: 2px solid #d33147 !important;
    opacity: 1;
    transition: background-color .5s linear
}

.content-item .c-answer.validation-failed:not(.active) .answer-radio:after,
.content-item .c-image-answer.validation-failed:not(.active) .answer-radio:after {
    background-color: #d33147;
    border: none;
    content: "";
    height: 6px;
    left: 12px;
    position: absolute;
    top: 8px;
    transform: none;
    width: 2px
}

.content-item .c-answer.validation-failed:not(.active) .answer-radio:before,
.content-item .c-image-answer.validation-failed:not(.active) .answer-radio:before {
    background-color: #d33147;
    content: "";
    height: 2px;
    left: 12px;
    position: absolute;
    top: 17px;
    width: 2px
}

.content-item.c-checkbox-container+.content-item.c-checkbox-container,
.content-item.c-data-collection-container+.content-item.is-snappable,
.content-item.c-dropdown-container+.content-item.is-snappable,
.content-item.c-free-txt-answer-container+.content-item.is-snappable,
.content-item.c-question-container+.content-item.is-snappable,
.content-item.has-button+.content-item.is-snappable,
.content-item.has-checkbox+.content-item.has-checkbox,
.content-item.has-datacollection+.content-item.is-snappable,
.content-item.has-datetimepicker+.content-item.is-snappable,
.content-item.has-dropdown+.content-item.is-snappable,
.content-item.has-freetextanswer+.content-item.is-snappable,
.content-item.has-question+.content-item.is-snappable {
    padding-top: 5px
}

.content-item.c-checkbox-container+.content-item.c-checkbox-container.c-dropdown-container .e-html-container,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.c-dropdown-container .title,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.c-free-txt-answer-container .e-html-container,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.c-free-txt-answer-container .title,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.c-question-container .e-html-container,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.c-question-container .title,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.c-upload-field-container .e-html-container,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.c-upload-field-container .title,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.has-datacollection .e-html-container,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.has-datacollection .title,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.has-datetimepicker .e-html-container,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.has-datetimepicker .title,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.has-dropdown .e-html-container,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.has-dropdown .title,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.has-freetextanswer .e-html-container,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.has-freetextanswer .title,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.has-question .e-html-container,
.content-item.c-checkbox-container+.content-item.c-checkbox-container.has-question .title,
.content-item.c-data-collection-container+.content-item.is-snappable.c-dropdown-container .e-html-container,
.content-item.c-data-collection-container+.content-item.is-snappable.c-dropdown-container .title,
.content-item.c-data-collection-container+.content-item.is-snappable.c-free-txt-answer-container .e-html-container,
.content-item.c-data-collection-container+.content-item.is-snappable.c-free-txt-answer-container .title,
.content-item.c-data-collection-container+.content-item.is-snappable.c-question-container .e-html-container,
.content-item.c-data-collection-container+.content-item.is-snappable.c-question-container .title,
.content-item.c-data-collection-container+.content-item.is-snappable.c-upload-field-container .e-html-container,
.content-item.c-data-collection-container+.content-item.is-snappable.c-upload-field-container .title,
.content-item.c-data-collection-container+.content-item.is-snappable.has-datacollection .e-html-container,
.content-item.c-data-collection-container+.content-item.is-snappable.has-datacollection .title,
.content-item.c-data-collection-container+.content-item.is-snappable.has-datetimepicker .e-html-container,
.content-item.c-data-collection-container+.content-item.is-snappable.has-datetimepicker .title,
.content-item.c-data-collection-container+.content-item.is-snappable.has-dropdown .e-html-container,
.content-item.c-data-collection-container+.content-item.is-snappable.has-dropdown .title,
.content-item.c-data-collection-container+.content-item.is-snappable.has-freetextanswer .e-html-container,
.content-item.c-data-collection-container+.content-item.is-snappable.has-freetextanswer .title,
.content-item.c-data-collection-container+.content-item.is-snappable.has-question .e-html-container,
.content-item.c-data-collection-container+.content-item.is-snappable.has-question .title,
.content-item.c-dropdown-container+.content-item.is-snappable.c-dropdown-container .e-html-container,
.content-item.c-dropdown-container+.content-item.is-snappable.c-dropdown-container .title,
.content-item.c-dropdown-container+.content-item.is-snappable.c-free-txt-answer-container .e-html-container,
.content-item.c-dropdown-container+.content-item.is-snappable.c-free-txt-answer-container .title,
.content-item.c-dropdown-container+.content-item.is-snappable.c-question-container .e-html-container,
.content-item.c-dropdown-container+.content-item.is-snappable.c-question-container .title,
.content-item.c-dropdown-container+.content-item.is-snappable.c-upload-field-container .e-html-container,
.content-item.c-dropdown-container+.content-item.is-snappable.c-upload-field-container .title,
.content-item.c-dropdown-container+.content-item.is-snappable.has-datacollection .e-html-container,
.content-item.c-dropdown-container+.content-item.is-snappable.has-datacollection .title,
.content-item.c-dropdown-container+.content-item.is-snappable.has-datetimepicker .e-html-container,
.content-item.c-dropdown-container+.content-item.is-snappable.has-datetimepicker .title,
.content-item.c-dropdown-container+.content-item.is-snappable.has-dropdown .e-html-container,
.content-item.c-dropdown-container+.content-item.is-snappable.has-dropdown .title,
.content-item.c-dropdown-container+.content-item.is-snappable.has-freetextanswer .e-html-container,
.content-item.c-dropdown-container+.content-item.is-snappable.has-freetextanswer .title,
.content-item.c-dropdown-container+.content-item.is-snappable.has-question .e-html-container,
.content-item.c-dropdown-container+.content-item.is-snappable.has-question .title,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.c-dropdown-container .e-html-container,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.c-dropdown-container .title,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.c-free-txt-answer-container .e-html-container,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.c-free-txt-answer-container .title,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.c-question-container .e-html-container,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.c-question-container .title,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.c-upload-field-container .e-html-container,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.c-upload-field-container .title,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.has-datacollection .e-html-container,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.has-datacollection .title,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.has-datetimepicker .e-html-container,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.has-datetimepicker .title,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.has-dropdown .e-html-container,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.has-dropdown .title,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.has-freetextanswer .e-html-container,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.has-freetextanswer .title,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.has-question .e-html-container,
.content-item.c-free-txt-answer-container+.content-item.is-snappable.has-question .title,
.content-item.c-question-container+.content-item.is-snappable.c-dropdown-container .e-html-container,
.content-item.c-question-container+.content-item.is-snappable.c-dropdown-container .title,
.content-item.c-question-container+.content-item.is-snappable.c-free-txt-answer-container .e-html-container,
.content-item.c-question-container+.content-item.is-snappable.c-free-txt-answer-container .title,
.content-item.c-question-container+.content-item.is-snappable.c-question-container .e-html-container,
.content-item.c-question-container+.content-item.is-snappable.c-question-container .title,
.content-item.c-question-container+.content-item.is-snappable.c-upload-field-container .e-html-container,
.content-item.c-question-container+.content-item.is-snappable.c-upload-field-container .title,
.content-item.c-question-container+.content-item.is-snappable.has-datacollection .e-html-container,
.content-item.c-question-container+.content-item.is-snappable.has-datacollection .title,
.content-item.c-question-container+.content-item.is-snappable.has-datetimepicker .e-html-container,
.content-item.c-question-container+.content-item.is-snappable.has-datetimepicker .title,
.content-item.c-question-container+.content-item.is-snappable.has-dropdown .e-html-container,
.content-item.c-question-container+.content-item.is-snappable.has-dropdown .title,
.content-item.c-question-container+.content-item.is-snappable.has-freetextanswer .e-html-container,
.content-item.c-question-container+.content-item.is-snappable.has-freetextanswer .title,
.content-item.c-question-container+.content-item.is-snappable.has-question .e-html-container,
.content-item.c-question-container+.content-item.is-snappable.has-question .title,
.content-item.has-button+.content-item.is-snappable.c-dropdown-container .e-html-container,
.content-item.has-button+.content-item.is-snappable.c-dropdown-container .title,
.content-item.has-button+.content-item.is-snappable.c-free-txt-answer-container .e-html-container,
.content-item.has-button+.content-item.is-snappable.c-free-txt-answer-container .title,
.content-item.has-button+.content-item.is-snappable.c-question-container .e-html-container,
.content-item.has-button+.content-item.is-snappable.c-question-container .title,
.content-item.has-button+.content-item.is-snappable.c-upload-field-container .e-html-container,
.content-item.has-button+.content-item.is-snappable.c-upload-field-container .title,
.content-item.has-button+.content-item.is-snappable.has-datacollection .e-html-container,
.content-item.has-button+.content-item.is-snappable.has-datacollection .title,
.content-item.has-button+.content-item.is-snappable.has-datetimepicker .e-html-container,
.content-item.has-button+.content-item.is-snappable.has-datetimepicker .title,
.content-item.has-button+.content-item.is-snappable.has-dropdown .e-html-container,
.content-item.has-button+.content-item.is-snappable.has-dropdown .title,
.content-item.has-button+.content-item.is-snappable.has-freetextanswer .e-html-container,
.content-item.has-button+.content-item.is-snappable.has-freetextanswer .title,
.content-item.has-button+.content-item.is-snappable.has-question .e-html-container,
.content-item.has-button+.content-item.is-snappable.has-question .title,
.content-item.has-checkbox+.content-item.has-checkbox.c-dropdown-container .e-html-container,
.content-item.has-checkbox+.content-item.has-checkbox.c-dropdown-container .title,
.content-item.has-checkbox+.content-item.has-checkbox.c-free-txt-answer-container .e-html-container,
.content-item.has-checkbox+.content-item.has-checkbox.c-free-txt-answer-container .title,
.content-item.has-checkbox+.content-item.has-checkbox.c-question-container .e-html-container,
.content-item.has-checkbox+.content-item.has-checkbox.c-question-container .title,
.content-item.has-checkbox+.content-item.has-checkbox.c-upload-field-container .e-html-container,
.content-item.has-checkbox+.content-item.has-checkbox.c-upload-field-container .title,
.content-item.has-checkbox+.content-item.has-checkbox.has-datacollection .e-html-container,
.content-item.has-checkbox+.content-item.has-checkbox.has-datacollection .title,
.content-item.has-checkbox+.content-item.has-checkbox.has-datetimepicker .e-html-container,
.content-item.has-checkbox+.content-item.has-checkbox.has-datetimepicker .title,
.content-item.has-checkbox+.content-item.has-checkbox.has-dropdown .e-html-container,
.content-item.has-checkbox+.content-item.has-checkbox.has-dropdown .title,
.content-item.has-checkbox+.content-item.has-checkbox.has-freetextanswer .e-html-container,
.content-item.has-checkbox+.content-item.has-checkbox.has-freetextanswer .title,
.content-item.has-checkbox+.content-item.has-checkbox.has-question .e-html-container,
.content-item.has-checkbox+.content-item.has-checkbox.has-question .title,
.content-item.has-datacollection+.content-item.is-snappable.c-dropdown-container .e-html-container,
.content-item.has-datacollection+.content-item.is-snappable.c-dropdown-container .title,
.content-item.has-datacollection+.content-item.is-snappable.c-free-txt-answer-container .e-html-container,
.content-item.has-datacollection+.content-item.is-snappable.c-free-txt-answer-container .title,
.content-item.has-datacollection+.content-item.is-snappable.c-question-container .e-html-container,
.content-item.has-datacollection+.content-item.is-snappable.c-question-container .title,
.content-item.has-datacollection+.content-item.is-snappable.c-upload-field-container .e-html-container,
.content-item.has-datacollection+.content-item.is-snappable.c-upload-field-container .title,
.content-item.has-datacollection+.content-item.is-snappable.has-datacollection .e-html-container,
.content-item.has-datacollection+.content-item.is-snappable.has-datacollection .title,
.content-item.has-datacollection+.content-item.is-snappable.has-datetimepicker .e-html-container,
.content-item.has-datacollection+.content-item.is-snappable.has-datetimepicker .title,
.content-item.has-datacollection+.content-item.is-snappable.has-dropdown .e-html-container,
.content-item.has-datacollection+.content-item.is-snappable.has-dropdown .title,
.content-item.has-datacollection+.content-item.is-snappable.has-freetextanswer .e-html-container,
.content-item.has-datacollection+.content-item.is-snappable.has-freetextanswer .title,
.content-item.has-datacollection+.content-item.is-snappable.has-question .e-html-container,
.content-item.has-datacollection+.content-item.is-snappable.has-question .title,
.content-item.has-datetimepicker+.content-item.is-snappable.c-dropdown-container .e-html-container,
.content-item.has-datetimepicker+.content-item.is-snappable.c-dropdown-container .title,
.content-item.has-datetimepicker+.content-item.is-snappable.c-free-txt-answer-container .e-html-container,
.content-item.has-datetimepicker+.content-item.is-snappable.c-free-txt-answer-container .title,
.content-item.has-datetimepicker+.content-item.is-snappable.c-question-container .e-html-container,
.content-item.has-datetimepicker+.content-item.is-snappable.c-question-container .title,
.content-item.has-datetimepicker+.content-item.is-snappable.c-upload-field-container .e-html-container,
.content-item.has-datetimepicker+.content-item.is-snappable.c-upload-field-container .title,
.content-item.has-datetimepicker+.content-item.is-snappable.has-datacollection .e-html-container,
.content-item.has-datetimepicker+.content-item.is-snappable.has-datacollection .title,
.content-item.has-datetimepicker+.content-item.is-snappable.has-datetimepicker .e-html-container,
.content-item.has-datetimepicker+.content-item.is-snappable.has-datetimepicker .title,
.content-item.has-datetimepicker+.content-item.is-snappable.has-dropdown .e-html-container,
.content-item.has-datetimepicker+.content-item.is-snappable.has-dropdown .title,
.content-item.has-datetimepicker+.content-item.is-snappable.has-freetextanswer .e-html-container,
.content-item.has-datetimepicker+.content-item.is-snappable.has-freetextanswer .title,
.content-item.has-datetimepicker+.content-item.is-snappable.has-question .e-html-container,
.content-item.has-datetimepicker+.content-item.is-snappable.has-question .title,
.content-item.has-dropdown+.content-item.is-snappable.c-dropdown-container .e-html-container,
.content-item.has-dropdown+.content-item.is-snappable.c-dropdown-container .title,
.content-item.has-dropdown+.content-item.is-snappable.c-free-txt-answer-container .e-html-container,
.content-item.has-dropdown+.content-item.is-snappable.c-free-txt-answer-container .title,
.content-item.has-dropdown+.content-item.is-snappable.c-question-container .e-html-container,
.content-item.has-dropdown+.content-item.is-snappable.c-question-container .title,
.content-item.has-dropdown+.content-item.is-snappable.c-upload-field-container .e-html-container,
.content-item.has-dropdown+.content-item.is-snappable.c-upload-field-container .title,
.content-item.has-dropdown+.content-item.is-snappable.has-datacollection .e-html-container,
.content-item.has-dropdown+.content-item.is-snappable.has-datacollection .title,
.content-item.has-dropdown+.content-item.is-snappable.has-datetimepicker .e-html-container,
.content-item.has-dropdown+.content-item.is-snappable.has-datetimepicker .title,
.content-item.has-dropdown+.content-item.is-snappable.has-dropdown .e-html-container,
.content-item.has-dropdown+.content-item.is-snappable.has-dropdown .title,
.content-item.has-dropdown+.content-item.is-snappable.has-freetextanswer .e-html-container,
.content-item.has-dropdown+.content-item.is-snappable.has-freetextanswer .title,
.content-item.has-dropdown+.content-item.is-snappable.has-question .e-html-container,
.content-item.has-dropdown+.content-item.is-snappable.has-question .title,
.content-item.has-freetextanswer+.content-item.is-snappable.c-dropdown-container .e-html-container,
.content-item.has-freetextanswer+.content-item.is-snappable.c-dropdown-container .title,
.content-item.has-freetextanswer+.content-item.is-snappable.c-free-txt-answer-container .e-html-container,
.content-item.has-freetextanswer+.content-item.is-snappable.c-free-txt-answer-container .title,
.content-item.has-freetextanswer+.content-item.is-snappable.c-question-container .e-html-container,
.content-item.has-freetextanswer+.content-item.is-snappable.c-question-container .title,
.content-item.has-freetextanswer+.content-item.is-snappable.c-upload-field-container .e-html-container,
.content-item.has-freetextanswer+.content-item.is-snappable.c-upload-field-container .title,
.content-item.has-freetextanswer+.content-item.is-snappable.has-datacollection .e-html-container,
.content-item.has-freetextanswer+.content-item.is-snappable.has-datacollection .title,
.content-item.has-freetextanswer+.content-item.is-snappable.has-datetimepicker .e-html-container,
.content-item.has-freetextanswer+.content-item.is-snappable.has-datetimepicker .title,
.content-item.has-freetextanswer+.content-item.is-snappable.has-dropdown .e-html-container,
.content-item.has-freetextanswer+.content-item.is-snappable.has-dropdown .title,
.content-item.has-freetextanswer+.content-item.is-snappable.has-freetextanswer .e-html-container,
.content-item.has-freetextanswer+.content-item.is-snappable.has-freetextanswer .title,
.content-item.has-freetextanswer+.content-item.is-snappable.has-question .e-html-container,
.content-item.has-freetextanswer+.content-item.is-snappable.has-question .title,
.content-item.has-question+.content-item.is-snappable.c-dropdown-container .e-html-container,
.content-item.has-question+.content-item.is-snappable.c-dropdown-container .title,
.content-item.has-question+.content-item.is-snappable.c-free-txt-answer-container .e-html-container,
.content-item.has-question+.content-item.is-snappable.c-free-txt-answer-container .title,
.content-item.has-question+.content-item.is-snappable.c-question-container .e-html-container,
.content-item.has-question+.content-item.is-snappable.c-question-container .title,
.content-item.has-question+.content-item.is-snappable.c-upload-field-container .e-html-container,
.content-item.has-question+.content-item.is-snappable.c-upload-field-container .title,
.content-item.has-question+.content-item.is-snappable.has-datacollection .e-html-container,
.content-item.has-question+.content-item.is-snappable.has-datacollection .title,
.content-item.has-question+.content-item.is-snappable.has-datetimepicker .e-html-container,
.content-item.has-question+.content-item.is-snappable.has-datetimepicker .title,
.content-item.has-question+.content-item.is-snappable.has-dropdown .e-html-container,
.content-item.has-question+.content-item.is-snappable.has-dropdown .title,
.content-item.has-question+.content-item.is-snappable.has-freetextanswer .e-html-container,
.content-item.has-question+.content-item.is-snappable.has-freetextanswer .title,
.content-item.has-question+.content-item.is-snappable.has-question .e-html-container,
.content-item.has-question+.content-item.is-snappable.has-question .title {
    margin-top: 30px
}

.content-item.fullwidth {
    background: none !important;
    max-width: 100% !important;
    padding: 0;
    width: 100% !important
}

.content-item.fullwidth img {
    width: 100%
}

.view-editor .content-item {
    overflow: hidden
}

.view-editor .content-item .v-remove {
    background-color: #ea6e58;
    border: none;
    color: #fff;
    cursor: pointer;
    display: none;
    height: 36px;
    line-height: 0;
    padding-bottom: 4px;
    padding-top: 19px;
    position: absolute;
    right: -27px;
    top: -14px;
    transform: rotate(45deg);
    width: 62px
}

.view-editor .content-item .v-remove.cmd-hint {
    background-color: #d33147 !important
}

.view-editor .content-item .v-remove img,
.view-editor .content-item .v-remove svg {
    transform: rotate(-45deg);
    width: 7px
}

.view-editor .content-item .v-duplicate {
    background-color: #0f766e;
    border: none;
    bottom: -14px;
    color: #fff;
    cursor: pointer;
    display: none;
    height: 36px;
    left: -26px;
    line-height: 0;
    padding: 0 10px 14px;
    position: absolute;
    transform: rotate(45deg);
    width: 62px
}

.view-editor .content-item .v-duplicate img,
.view-editor .content-item .v-duplicate svg {
    transform: rotate(-45deg);
    width: 13px
}

.view-editor .content-item:hover {
    box-shadow: 0 0 20px 0 #000;
    z-index: 10
}

.view-editor .content-item:hover .v-duplicate,
.view-editor .content-item:hover .v-remove {
    display: inline
}

.view-editor .content-item.target-component {
    box-shadow: inset 0 0 0 2px #000
}

.view-editor .content-item.target-component.custom-styled,
.view-editor .content-item.target-component.custom-styled .c-img-container .shadow-custom {
    box-shadow: inset 0 0 0 2px #0369a1
}

.view-editor .content-item.target-component.custom-styled:after {
    opacity: 1;
    transition: all 1s ease-out
}

.view-editor .content-item.target-component .v-duplicate,
.view-editor .content-item.target-component .v-remove {
    display: inline
}

.view-editor .content-item.target-component .c-img-container .shadow-custom {
    box-shadow: inset 0 0 0 2px #000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.view-preview .content-item {
    overflow: visible
}

.view-preview .content-item:hover {
    box-shadow: none
}

.modal-container.mobile .content-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.modal-container.mobile .content-item:last-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.left-left .modal-main.project-timer,
.right-left .modal-main.project-timer,
:not(.vcentered).center-center .modal-main.project-timer,
:not(.vcentered).center-left .modal-main.project-timer {
    padding-top: 54px
}

@media (max-width:800px) {
    .modal-main.project-timer {
        padding-top: 54px
    }
}

@media (max-width:479px) {
    .view-participant:has(.preview-notice) .modal-main.project-timer {
        padding-top: 90px
    }
}

.modal-container.mobile .content-item .wrapper {
    max-width: 100% !important
}

@media screen and (max-width:799px) {

    body.view-template.modal-open.mobile .e-target-dropzone.center-center.vcentered .content-item-wrapper,
    body.view-template.modal-open.mobile .e-target-dropzone.center-left.vcentered .content-item-wrapper,
    body.view-template.modal-open.mobile .standalone-project-main.vcentered.center-center .modal-main,
    body.view-template.modal-open.mobile .standalone-project-main.vcentered.center-left .modal-main {
        min-height: 580px
    }
}

body.view-participant,
html {
    height: 100%
}

.view-participant .v-app-main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative
}

.view-participant.embedded {
    max-width: 100%;
    width: 100vw
}

.view-participant.embedded .v-app-main {
    min-height: 0
}

.view-participant.embedded.minheight {
    display: flex;
    flex-direction: column;
    height: 100vh !important
}

.view-participant.embedded.minheight .v-app-main {
    flex: 1 0 auto
}

@font-face {
    font-family: BrandonGrotesqueWeb-Bold;
    src: url(/fonts/Brandon/38F0DB_0_0.eot);
    src: url(/fonts/Brandon/38F0DB_0_0.eot?#iefix) format("embedded-opentype"), url(/fonts/Brandon/38F0DB_0_0.woff2) format("woff2"), url(/fonts/Brandon/38F0DB_0_0.woff) format("woff"), url(/fonts/Brandon/38F0DB_0_0.ttf) format("truetype")
}

@font-face {
    font-family: BrandonGrotesqueWeb-Medium;
    src: url(/fonts/Brandon/38F0DB_1_0.eot);
    src: url(/fonts/Brandon/38F0DB_1_0.eot?#iefix) format("embedded-opentype"), url(/fonts/Brandon/38F0DB_1_0.woff2) format("woff2"), url(/fonts/Brandon/38F0DB_1_0.woff) format("woff"), url(/fonts/Brandon/38F0DB_1_0.ttf) format("truetype")
}

@font-face {
    font-family: BrandonGrotesqueWeb-Regular;
    src: url(/fonts/Brandon/38F14C_0_0.eot);
    src: url(/fonts/Brandon/38F14C_0_0.eot?#iefix) format("embedded-opentype"), url(/fonts/Brandon/38F14C_0_0.woff2) format("woff2"), url(/fonts/Brandon/38F14C_0_0.woff) format("woff"), url(/fonts/Brandon/38F14C_0_0.ttf) format("truetype")
}

.c-free-txt-answer-container h2 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
    padding: inherit
}

.c-free-txt-answer-container .wrapper.align-left p {
    text-align: left !important
}

.c-free-txt-answer-container .wrapper.align-left .c-input-container {
    margin-left: 0
}

.c-free-txt-answer-container .wrapper.align-left .error-container {
    left: 20px !important
}

.c-free-txt-answer-container .wrapper.align-right p {
    text-align: right !important
}

.c-free-txt-answer-container .wrapper.align-right .c-input-container {
    margin-right: 0
}

.c-free-txt-answer-container .wrapper.align-right .error-container {
    left: auto;
    right: 20px
}

@media screen and (max-width:799px) {
    .c-free-txt-answer-container .wrapper.align-right .error-container {
        right: 0
    }
}

.c-free-txt-answer-container .c-input-container {
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 400px
}

.c-free-txt-answer-container .e-prefix-wrapper,
.c-free-txt-answer-container .e-suffix-wrapper {
    background-color: transparent;
    color: #909399;
    line-height: 1.5;
    padding: 14px 15px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: auto
}

.c-free-txt-answer-container .e-prefix-wrapper+input,
.c-free-txt-answer-container .e-suffix-wrapper+input {
    padding: 18px 20px 18px 0
}

.c-free-txt-answer-container .e-prefix-wrapper.one-char .e-prefix,
.c-free-txt-answer-container .e-prefix-wrapper.one-char .e-suffix,
.c-free-txt-answer-container .e-suffix-wrapper.one-char .e-prefix,
.c-free-txt-answer-container .e-suffix-wrapper.one-char .e-suffix {
    border-radius: 50%;
    padding: 4px 0
}

.c-free-txt-answer-container .e-prefix,
.c-free-txt-answer-container .e-suffix {
    background-color: transparent !important;
    border: 2px solid rgba(0, 0, 0, .25);
    border-radius: 15px;
    font-weight: 600;
    opacity: .4;
    overflow: hidden;
    padding: 4px 10px;
    position: relative;
    text-align: center
}

.c-free-txt-answer-container .e-prefix-bg,
.c-free-txt-answer-container .e-suffix-bg {
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: .1;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.c-free-txt-answer-container textarea {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    line-height: 1.5;
    margin-bottom: 0;
    max-height: 1000px;
    max-width: 100%;
    padding: 20px;
    text-overflow: ellipsis;
    vertical-align: top;
    width: 400px
}

.c-free-txt-answer-container textarea:focus {
    outline: none
}

.c-free-txt-answer-container textarea:focus::-moz-placeholder {
    opacity: .6
}

.c-free-txt-answer-container textarea:focus:-ms-input-placeholder {
    opacity: .6
}

.c-free-txt-answer-container textarea:focus::placeholder {
    opacity: .6
}

.c-free-txt-answer-container textarea::-moz-placeholder {
    color: inherit;
    line-height: normal
}

.c-free-txt-answer-container textarea:-ms-input-placeholder {
    color: inherit;
    line-height: normal
}

.c-free-txt-answer-container textarea::placeholder {
    color: inherit;
    line-height: normal
}

.c-free-txt-answer-container textarea::-moz-placeholder {
    opacity: 1
}

.c-free-txt-answer-container input {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    color: inherit;
    font: inherit;
    line-height: 1.5;
    max-width: 100%;
    padding: 20px;
    text-overflow: ellipsis;
    width: 400px;
    width: 100%
}

.c-free-txt-answer-container input:focus {
    outline: none
}

.c-free-txt-answer-container input:focus::-moz-placeholder {
    opacity: .6
}

.c-free-txt-answer-container input:focus:-ms-input-placeholder {
    opacity: .6
}

.c-free-txt-answer-container input:focus::placeholder {
    opacity: .6
}

.c-free-txt-answer-container input::-moz-placeholder {
    color: inherit;
    line-height: normal
}

.c-free-txt-answer-container input:-ms-input-placeholder {
    color: inherit;
    line-height: normal
}

.c-free-txt-answer-container input::placeholder {
    color: inherit;
    line-height: normal
}

.c-free-txt-answer-container input::-moz-placeholder {
    opacity: 1
}

.c-free-txt-answer-container .e-html-container {
    line-height: 1.2;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
}

.c-free-txt-answer-container .e-html-container.textarea:not(.aligncenter) {
    width: 334px
}

.c-free-txt-answer-container .e-freetxt-question .e-html-container {
    margin-bottom: 10px;
    width: 100%
}

@media screen and (max-width:529px) {
    .c-free-txt-answer-container .e-freetxt-question.is-shrinkable .e-html-container {
        font-size: 75%
    }
}

.c-free-txt-answer-container .e-freetxt-question-sub {
    padding-bottom: 10px
}

.c-free-txt-answer-container .e-freetxt-question-sub .e-html-container-sub {
    margin-bottom: 10px
}

@media screen and (max-width:479px) {

    .c-free-txt-answer-container .c-input-container,
    .c-free-txt-answer-container .e-html-container {
        width: 100%
    }
}

.modal-container.mobile .c-free-txt-answer-container .is-shrinkable .e-html-container {
    font-size: 75%
}

.modal-container.mobile .c-free-txt-answer-container .c-input-container,
.modal-container.mobile .c-free-txt-answer-container .e-html-container {
    width: 100%
}

@font-face {
    font-family: BrandonGrotesqueWeb-Bold;
    src: url(/fonts/Brandon/38F0DB_0_0.eot);
    src: url(/fonts/Brandon/38F0DB_0_0.eot?#iefix) format("embedded-opentype"), url(/fonts/Brandon/38F0DB_0_0.woff2) format("woff2"), url(/fonts/Brandon/38F0DB_0_0.woff) format("woff"), url(/fonts/Brandon/38F0DB_0_0.ttf) format("truetype")
}

@font-face {
    font-family: BrandonGrotesqueWeb-Medium;
    src: url(/fonts/Brandon/38F0DB_1_0.eot);
    src: url(/fonts/Brandon/38F0DB_1_0.eot?#iefix) format("embedded-opentype"), url(/fonts/Brandon/38F0DB_1_0.woff2) format("woff2"), url(/fonts/Brandon/38F0DB_1_0.woff) format("woff"), url(/fonts/Brandon/38F0DB_1_0.ttf) format("truetype")
}

@font-face {
    font-family: BrandonGrotesqueWeb-Regular;
    src: url(/fonts/Brandon/38F14C_0_0.eot);
    src: url(/fonts/Brandon/38F14C_0_0.eot?#iefix) format("embedded-opentype"), url(/fonts/Brandon/38F14C_0_0.woff2) format("woff2"), url(/fonts/Brandon/38F14C_0_0.woff) format("woff"), url(/fonts/Brandon/38F14C_0_0.ttf) format("truetype")
}

.view-editor:not(.modal-open) .c-button-container .c-button {
    transition: none
}

.c-button-container .v-duplicate,
.c-button-container .v-remove {
    pointer-events: all
}

.c-button-container.c-button-link.is-snappable {
    padding-top: 5px
}

.c-button-container .wrapper {
    padding-bottom: 1px
}

.c-button-container .wrapper div.error-wrapper:before {
    left: 0;
    margin: 0 auto;
    right: 0
}

.c-button-container .wrapper.align-left .error-container {
    left: 0 !important
}

.c-button-container .wrapper.align-left .error-wrapper:before {
    left: 26px;
    right: auto
}

.c-button-container .wrapper.align-right .error-container {
    left: auto;
    right: 0
}

.c-button-container .wrapper.align-right .error-wrapper:before {
    left: auto;
    right: 20px
}

.c-button-container .c-button {
    word-wrap: break-word;
    box-sizing: content-box;
    line-height: normal;
    max-width: 370px;
    min-width: 76px;
    padding: .95em 40px;
    transition: transform .6s ease-out, opacity .6s ease-out, visibility .6s ease-out, background .6s ease-out, border-color .6s ease-out, color .6s ease-out, padding .6s ease-out, box-shadow .6s ease-in-out;
    white-space: normal
}

@media screen and (max-width:369px) {
    .c-button-container .c-button {
        max-width: 190px
    }
}

.c-button-container .c-button:hover {
    padding-left: 52px;
    padding-right: 52px
}

.c-button-container .c-button:active {
    box-shadow: none
}

.c-button-container .c-button-link {
    background: transparent;
    border: 0;
    text-decoration: underline
}

.c-button-container .c-button-link:hover {
    text-decoration: none
}

.modal-container.mobile .c-button-container .align-left .error-container {
    left: 0 !important
}

.modal-container.mobile .c-button-container .c-button {
    max-width: 190px
}

@media print {
    .print\:hidden {
        display: none
    }
}